# Chapter 3 Conditional Execution

In [1]:
x = 10 # assignment 
x

10

In [2]:
x == 10 # does x equal to 10? True/False

True

# one-way decision

In [3]:
x = 20 # sequentional 
print(x) # sequentional 
if x > 10: # sequentional (condition)
  print('x is big') # conditional
  print('the value of x is', x) # conditional
print('done') # sequentional 
# executed lines: 1, 2, 3, 4, 5, 6

20
x is big
the value of x is 20
done

In [4]:
x = 5 # sequentional 
print(x) # sequentional 
if x > 10: # sequentional (condition)
  print('x is big') # conditional
  print('the value of x is', x) # conditional
print('done') # sequentional 
# executed lines: 1, 2, 3, 6

5
done

In [5]:
# one-way 

x = 5 # sequentional 
print(x) # sequentional 
if x > 10: # sequentional (condition)
  print('x is big') # conditional
  print('the value of x is', x) # conditional
if x > 3:
  print('x is larger than 3')
print('done') # sequentional 
# executed lines: 1, 2, 3, 6, 7, 8

5
x is larger than 3
done

In [6]:
# one-way nested 
x = 30 # sequentional 
print(x) # sequentional 
if x > 10: # sequentional (condition)
  print('x is big') # conditional
  print('the value of x is', x) # conditional
  if x > 20:
    print('x is larger than 20')
print('done') # sequentional 
# executed lines: 2-10

30
x is big
the value of x is 30
x is larger than 20
done

In [7]:
# one-way nested 
x = 7 # sequentional 
print(x) # sequentional 
if x > 10: # sequentional (condition)
  print('x is big') # conditional
  print('the value of x is', x) # conditional
  if x > 20:
    print('x is larger than 20')
print('done') # sequentional 
# executed lines: 2-4, 9

7
done

In [8]:
# one-way nested 
x = 11 # sequentional 
print(x) # sequentional 
if x > 10: # sequentional (condition)
  print('x is big') # conditional
  print('the value of x is', x) # conditional
  if x > 20:
    print('x is larger than 20')
print('done') # sequentional 
# executed lines: 2-7, 9

11
x is big
the value of x is 11
done

In [9]:
# one-way nested 
x = 20 # sequentional 
print(x) # sequentional 
if x > 10: # sequentional (condition)
  print('x is big') # conditional
  print('the value of x is', x) # conditional
  if x > 20:
    print('x is larger than 20')
print('done') # sequentional 
# executed lines: 2-7, 9

20
x is big
the value of x is 20
done

# two-way decision

In [10]:
x = 10 
print('x =', x)
if x > 5:
  print('x is large') 
else: # x <= 5 
  print('x is small')
print('done')

x = 10
x is large
done

In [11]:
x = 3 
print('x =', x)
if x > 5:
  print('x is large') 
else: # x <= 5 
  print('x is small')
print('done')

x = 3
x is small
done

# if - else if

In [12]:
x = 3 
print('x =', x)
if x > 5:
  print('x is large') 
else: # x <= 5 
  if x < 2:
    print('x is too small')
  else: # x >= 2 and x <=5 ; in other words between 2-5
    print('x is small')
print('done')

x = 3
x is small
done

In [13]:
x = 1 
print('x =', x)
if x > 5:
  print('x is large') 
else: # x <= 5 
  if x < 2:
    print('x is too small')
  else: # x >= 2 and x <=5 ; in other words between 2-5
    print('x is small')
print('done')

x = 1
x is too small
done

In [14]:
x = 1 
print('x =', x)
if x > 5:
  print('x is large') 
elif x < 2: # x <= 5 
  print('x is too small')
else: # x >= 2 and x <=5 ; in other words between 2-5
  print('x is small')
print('done')

x = 1
x is too small
done

In [15]:
x = 3 
print('x =', x)
if x > 5:
  print('x is large') 
elif x < 2: # x <= 5 
  print('x is too small')
else: # x >= 2 and x <=5 ; in other words between 2-5
  print('x is small')
print('done')

x = 3
x is small
done

# multi-way decision

In [16]:
x = 7
if x < 2:
  print('small')
elif x < 6: # x >=2 
  print('meduim')
else: # x >= 6 
  print('large')

large

In [19]:
x = int(input('enter x: '))
if x < 2 :
    print('tiny')
elif x < 10 :
    print('small')
elif x < 20 : 
    print('Big')
elif x < 40 : 
    print('so big')
elif x < 100:
    print('Huge')
else :
    print('so huge')

enter x: 1
tiny

# Grade scale assignment 
* satisfactory 1-1.66
* good 1.67-2.66
* v.good 2.67-3.49
* Excellent 3.5-4.0

# Try-except in python

In [20]:
number1 = int(input('enter 1st number: '))
number2 = int(input('enter 2nd number: '))
print(number1 + number2) # addition 
print(number1 - number2) 
print(number1 * number2)
print(number1 / number2)

enter 1st number: 3
enter 2nd number: 4
7
-1
12
0.75

In [21]:
number1 = int(input('enter 1st number: '))
number2 = int(input('enter 2nd number: '))
print(number1 + number2) # addition 
print(number1 - number2) 
print(number1 * number2)
print(number1 / number2)

enter 1st number: four

ValueError: ignored

In [22]:
number1 = int(input('enter 1st number: '))
number2 = int(input('enter 2nd number: '))
print(number1 + number2) # addition 
print(number1 - number2) 
print(number1 * number2)
print(number1 / number2)

enter 1st number: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

ValueError: ignored

In [23]:
number1 = int(input('enter 1st number: '))
number2 = int(input('enter 2nd number: '))
print(number1 + number2) # addition 
print(number1 - number2) 
print(number1 * number2)
print(number1 / number2)

enter 1st number: 4
enter 2nd number: 10'

ValueError: ignored

In [24]:
number1 = int(input('enter 1st number: '))
number2 = int(input('enter 2nd number: '))
print(number1 + number2) # addition 
print(number1 - number2) 
print(number1 * number2)
print(number1 / number2)

enter 1st number: 5
enter 2nd number: 0
5
5
0

ZeroDivisionError: ignored

# Handle Exception in Python

In [28]:
try:
  number1 = int(input('enter 1st number: '))
  number2 = int(input('enter 2nd number: '))
  print(number1 + number2) # addition 
  print(number1 - number2) 
  print(number1 * number2)
  print(number1 / number2)
except ValueError:
  print('input must be numberic')
except ZeroDivisionError:
  print('can not divide by zero')

enter 1st number: fourty
input must be numberic

In [29]:
try:
  number1 = int(input('enter 1st number: '))
  number2 = int(input('enter 2nd number: '))
  print(number1 + number2) # addition 
  print(number1 - number2) 
  print(number1 * number2)
  print(number1 / number2)
except ValueError:
  print('input must be numberic')
except ZeroDivisionError:
  print('can not divide by zero')

enter 1st number: 40
enter 2nd number: 0
40
40
0
can not divide by zero

In [30]:
try:
  number1 = int(input('enter 1st number: '))
  number2 = int(input('enter 2nd number: '))
  print(number1 + number2) # addition 
  print(number1 - number2) 
  print(number1 * number2)
  print(number1 / number2)
except ValueError:
  print('input must be numberic')
except ZeroDivisionError:
  print('can not divide by zero')

enter 1st number: 40
enter 2nd number: 5
45
35
200
8.0